* {
  direction: rtl !important;
}

html,
body {
  padding: 0px;
  margin: 0px;
  z-index: 1 !important;
  overflow: hidden !important;
}
.pure-steps_list::-webkit-scrollbar {
  width: 16px;
}

.pure-steps_list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.pure-steps_list::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}
.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}
// main div glass style
.glass-bg {
  display: block;
  position: absolute;
  border-radius: 33px;
  background-color: rgba(14, 158, 202, 0.226);
  z-index: 999999999999 !important;

  width: 100%;
  height: 100%;
}
.d-flex {
  display: flex !important;
  justify-content: center !important;
}
.d-rtl {
  direction: rtl !important;
}
// step form styles

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(https://fonts.googleapis.com/css?family=Oswald);
$base-font: "Open Sans", sans-serif;
$height: 26em;
$duration: 0.6s;

$blue: #5eb9cc;
$green: #edf064;
$orange: #ff9d00;
$yellow: #f1c40f;
$lime: #76c900;
$navy: #1877c0;
$cyan: #57caf4;
$white: #fefefe;
$gray: #444;
$red: #ff3b99;

$textColor: #444;
$bgColor: $green;

$fillColor: $navy;
$borderColor: $green;

$bezier: cubic-bezier(0.46, -0.42, 0.56, 1.37);

$barHeight: 0.2em;
$maxLength: 6;

@mixin buildScheme($fillColor, $borderColor, $baseColor, $i) {
  $fillColor: $fillColor;
  $borderColor: $borderColor;
  $bgColor: $borderColor;
  background-color: $baseColor;
  header h2:before {
    color: rgba($navy, 0.15);
  }
  .pure-steps_balls {
    &:before {
      background-image: linear-gradient(90deg, $fillColor 0, $fillColor 100%);
    }
    &:after {
      border: 1px solid $borderColor;
      background-color: $bgColor;
    }
    .pure-steps_balls-item .pure-steps_balls-item_ball {
      border: 1px solid $borderColor;
      background-color: $bgColor;
      &:after {
        border: 1px solid $borderColor;
        background-color: $bgColor;
      }
    }
  }
  [name^="steps-control"]:nth-child(#{$i}):checked {
    &
      ~ .pure-steps_balls
      .pure-steps_balls-item:nth-child(-n + #{$i})
      .pure-steps_balls-item_ball:before {
      background-color: $fillColor;
    }
    & ~ .pure-steps_nav {
      background-color: $fillColor;
      .pure-steps_nav-item {
        color: $borderColor;
        &:nth-child(#{$i - 1}) label {
          color: $fillColor;
          background-color: $borderColor;
        }
      }
    }
  }
}

body {
  font-family: $base-font;
  font-size: 16px;

  text-align: center;

  color: $textColor;
  background: #d0d0d0;
}

header {
  margin-bottom: 2em;
}

h1 {
  font-size: 2em;

  margin: 2em 0 1em;
}

strong {
  font-weight: 700;
}
p {
  line-height: 1.5em;
  margin-bottom: 0.5em;
  &:last-child {
    margin: 0;
  }
}
div {
  position: relative;
}

.full-height {
  height: $height;

  align-items: center;
}
.flexy-item {
  position: relative;

  display: flex;
  flex-direction: row;

  justify-content: center;
  &.between {
    justify-content: space-between;
  }
}
.flexy-column {
  flex-direction: column;
  &.reverse {
    flex-direction: column-reverse;
  }
}
.flexy-item_child {
  flex: 1;
}

.pseudo-model:after,
.pseudo-model:before {
  display: inline-block;

  width: 100%;
  height: 100%;

  content: "";
}

code {
  font-family: "Source Code Pro", monospace;
  padding: 0.05em 0.3em;
  border-radius: 0.3em;
  background: $white;
}

.hidden {
  overflow: hidden;
  position: absolute;
  height: 0;
  text-indent: -90em;
}

.pure-steps {
  display: inline-block;
  width: 100%;
  height: 571;
  position: relative;

  min-width: 18em;

  margin-bottom: 2em;
  border-radius: 1em;
  background-color: $cyan;
  box-sizing: border-box;

  box-shadow: 0 1.7em 5.5em -0.94em rgba(black, 0.3),
    0 2em 3em 0.5em rgba(black, 0.1), 0 1.8em 2em -1.5em rgba(black, 0.2);

  color: $navy;

  [name^="steps-control"] {
    display: none;
  }
  header {
    margin-bottom: 1.5em;
    h2 {
      font-size: 1.2em;
      &:before {
        margin-bottom: 0.05em;
        display: block;
        font-size: 4em;
        font-family: "Oswald", sans-serif;
        color: rgba($white, 0.2);
      }
    }
  }
  .pure-steps_balls {
    position: relative;
    margin: 0 3em 0.5em;
    &:after,
    &:before {
      position: absolute;
      top: 50%;
      left: 1.5em;

      width: calc(100% - 1em);

      transform: translateY(-50%);
    }
    &:after {
      z-index: 1;

      height: $barHeight;

      border: 1px solid $borderColor;
      border-width: 1px 0;
      background-color: $bgColor;
    }
    &:before {
      z-index: 3;

      box-sizing: content-box;
      height: 2px;

      transition: background-size $duration ease-in;

      background-image: linear-gradient(90deg, $fillColor 0, $fillColor 100%);
      background-repeat: no-repeat;
      background-size: 0 100%;

      will-change: background-size;
    }
    .pure-steps_balls-item {
      display: inline-block;
      position: relative;
      &:after {
        display: none;
      }
      &:before {
        position: absolute;
        left: 0;

        width: 1em;
        padding: 0 2px;

        border-radius: 1em;
        opacity: 1;
      }
      .pure-steps_balls-item_ball {
        position: relative;
        z-index: 2;

        display: block;

        width: 1em;
        height: 1em;

        border: 1px solid $borderColor;
        border-radius: 1em;
        background-color: $bgColor;
        &:after,
        &:before {
          position: absolute;
          top: 50%;
          left: -2px;
        }
        &:after {
          height: $barHeight;
          padding: 0 2px;

          transform: translateY(-50%);

          background-color: $bgColor;
        }
        &:before {
          z-index: 4;
          top: 0;
          left: 0;

          transition: background-color 0s linear;
          transform: scale(0.78);

          border-radius: 1em;

          will-change: background-color;
        }
      }
      &:first-child {
        text-align: left;
        .pure-steps_balls-item_ball:after {
          left: 50%;

          padding: 0;
        }
      }
      &:last-child {
        text-align: right;
        .pure-steps_balls-item_ball:after {
          width: 50%;
          padding: 0;
        }
      }
    }
  }
  @for $i from 1 to $maxLength {
    $bgSize: ((100 / ($maxLength - 2)) * ($i - 1));
    [name^="steps-control"]:nth-child(#{$i}):checked {
      & ~ header h2:before {
        content: ".0#{$i}.";
      }
      & ~ .pure-steps_balls {
        &:before {
          background-size: ($bgSize * 1%) 100%;
        }
        .pure-steps_balls-item {
          &:nth-child(#{$i}):before {
            opacity: 1;
          }

          &:nth-child(-n + #{$i}) .pure-steps_balls-item_ball:before {
            animation: bulp 0.8s linear forwards;
            animation-delay: $duration;
            background-color: $fillColor;
            transition-delay: $duration;
          }
        }
      }
      & ~ .pure-steps_nav .pure-steps_nav-item {
        &:nth-child(#{$i - 1}) label {
          color: $borderColor;
          background-color: $fillColor;
          margin-top: 14px !important;
          &:before {
            content: "\f104";
            float: left;
            margin-right: 13px;
          }
        }
        &:nth-child(#{$i + 1}) label:before {
          content: "\f105";
          margin-left: 10px;
          float: right;
        }
        &:nth-child(#{$i - 1}),
        &:nth-child(#{$i + 1}) {
          display: flex;
        }
      }
      & ~ .pure-steps_list .pure-steps_list-step:nth-child(#{$i}) {
        transform: translateX(0);
      }
    }
    &.scheme-1 {
      @include buildScheme($green, $navy, $white, $i);
    }
    &.scheme-2 {
      @include buildScheme($white, $cyan, darken($white, 10), $i);
    }
  }
  .float-r {
    float: right !important;
  }
  .pure-steps_list {
    position: relative;

    display: block;

    height: 12em;

    padding: 0 2em;
    height: 302px;

    overflow-y: auto;
    overflow-x: hidden;
    .pure-steps_list-step {
      position: absolute;
      top: 0;
      left: 0;

      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 0 2em 1em;
      transform: translateX(100%);
      // will-change: transform;
      transition: transform $duration ease-in-out;
      transition-delay: $duration;
      header {
        margin: 0;
        h3 {
          margin-bottom: 1em;
          text-align: left;
          font-size: 1.1em;
          line-height: 1.2em;
          display: block;
        }
      }
      .pure-steps_list-step_content {
        font-size: 0.9em;
        text-align: left;
      }
    }
  }
  .pure-steps_nav {
    z-index: 1;
    border-radius: 0 0 1em 1em;
    overflow: hidden;
    background-color: $borderColor;
    height: 94px;
    .pure-steps_nav-item {
      z-index: 1;
      display: none;
      flex: 1 0 50%;
      color: $fillColor;
      label {
        padding: 1em 1.2em;
        display: block;
        flex: 1;
        margin-top: 14px;
        margin-right: 15px;
        background-color: $navy;
        color: $green;
        border-radius: 14px;
        text-align: center;

        &:before {
          font-family: "FontAwesome", sans-serif;
          font-size: 1.5em;
        }
      }
    }
  }
}

@keyframes bulp {
  0% {
    transform: scale(0);
    animation-timing-function: ease-out;
  }
  30% {
    transform: scale(0.85);
    animation-timing-function: ease-in;
  }
  40% {
    transform: scale(0.65);
    animation-timing-function: ease-out;
  }
  60% {
    transform: scale(0.85);
    animation-timing-function: ease-in;
  }
  80%,
  100% {
    transform: scale(0.85);
  }
}
@media screen and (max-width: 576px) {
  .pure-steps {
    width: 96%;
    margin-left: 8px !important;
    margin-right: auto !important;
  }
}

// input forms
$ruler: 16px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;

button,
input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 20;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

label {
  display: block;
  margin-bottom: $ruler * 1.5;
  width: 100%;
}

input {
  margin-right: $ruler/2;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }

  .icon {
    margin-right: $ruler/2;
  }

  &.unit {
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler * 3;
    height: $ruler * 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 $ruler/2;
    font-size: $ruler * 1.2;

    .icon {
      margin-right: 0;
    }
  }

  &.red {
    display: block;
    width: 100%;
    color: $color-red;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
    flex: 1;
  }
}
// ###############select options page 2

.main-container h2 {
  margin: 0 0 80px 0;
  color: #1877c0;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom-radio input {
  display: none;
}
.custom-radio {
  display: contents !important;
}

.radio-btn {
  margin: 10px;
  width: 180px;
  height: 200px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}

.radio-btn > i {
  color: #ffffff;
  background-color: #1877c0;
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .hobbies-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon i {
  color: #1877c0;
  line-height: 80px;
  font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
  color: #1877c0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.custom-radio input:checked + .radio-btn {
  border: 3px solid #1877c0;
}

.custom-radio input:checked + .radio-btn > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
// ################### slide 3 services

$bgColor: #333;

@mixin raise-shadow() {
  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 20px;

    bottom: 15px;
    background: red;
    transform-origin: center bottom;
    opacity: 0;
    box-shadow: 0px 10px 15px rgba(black, 0.6);

    z-index: -1;
    transition: all 0.3s ease;
    // opacity : 0;
  }
  &::before {
    transform: rotate(-10deg);
    left: 6px;
  }
  &::after {
    transform: rotate(10deg);
    right: 6px;
  }
}

.services-container {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  // margin : 15px;
  position: relative;

  & .top-container {
    position: relative;
    @include raise-shadow;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

    & .service-card {
      position: relative;

      width: 100%;
      height: 300px;

      background: black;
      overflow: hidden;
      cursor: pointer;
      text-align: center;

      & img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
      }

      & .content {
        color: white;
        position: relative;
        top: 50%;
        left: 50%;
        width: 100%;
        // outline : 1px solid red;
        transform: translate(-50%, -50%);
        pointer-events: none;

        padding: 1em;
        padding: 1em;
        transition: all 0.3s ease;

        & .title {
          font-size: 2em;
          margin-bottom: 0.5em;
          font-weight: bold;
        }

        & .small-title {
          font-size: 1em;
        }
      }

      & .desc {
        width: 100%;
        position: absolute;
        top: 50%;
        // background : rgba(0,0,0,0.1);

        color: white;
        padding: 0.5em;
        opacity: 0;
        z-index: 200;
        transform: translateX(-10%);
        font-weight: lighter;
        transition: all 0.3s ease-out;

        & p {
          display: block;
          padding: 1em 0em;
        }
      }

      &:hover {
        & img {
          transform: scale(1.15);
          opacity: 0.4;
        }

        & .content {
          top: 0%;
          transform: translate(-50%, 0%);
          // transition : all .3s ease;

          &::after {
            content: "";
            position: absolute;
            width: 80%;
            height: 2px;

            background: rgba(orange, 0.8);
            top: 100%;
            left: 50%;

            transform: translateX(-50%);
          }
        }

        & .desc {
          top: 50%;
          opacity: 1;
          transform: translateX(0%);
        }
      }
    }
  }
  @media screen and (min-width: 800px) {
    flex-direction: row;
    margin: 15px;

    & .top-container {
      border-radius: 3px;
      & .service-card {
        border-radius: 3px;
        height: 300px;
        width: 220px;

        & .content .title {
          font-size: 1.5em;
        }
      }
    }
  }
}
// ######check box

#_checkbox {
  display: none;
}

.label1 {
  position: absolute;
  top: -18;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: #f72414;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color,
    0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}

.label1:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}

.label1:hover:before {
  width: 55px;
  height: 55px;
  box-shadow: inset 0 7px 10px #ff9d96;
}

.label1:active {
  transform: translateY(-50%) scale(0.9);
}

#tick_mark {
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-left: 14px;
  transform: rotateZ(-40deg);
}

#tick_mark:before,
#tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before {
  left: 0;
  bottom: 0;
  width: 10px;
  height: 30px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(-68px);
}

#tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(78px);
}

#_checkbox:checked + .label1 {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}

#_checkbox:checked + .label1:before {
  width: 0;
  height: 0;
}

#_checkbox:checked + .label1 #tick_mark:before,
#_checkbox:checked + .label1 #tick_mark:after {
  transform: translate(0);
  opacity: 1;
}
// $$$$$$ page 4

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  user-select: none;
  & > * {
    margin: 0.5rem 0.5rem;
  }
}

.checkbox-group-legend {
  font-size: 1.5rem;
  font-weight: 700;
  color: #9c9c9c;
  text-align: center;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}

.checkbox-input {
  // Code to hide the input
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:checked + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    color: #2260ff;
    &:before {
      transform: scale(1);
      opacity: 1;
      background-color: #2260ff;
      border-color: #2260ff;
    }

    .checkbox-icon,
    .checkbox-label {
      color: #e1e1e4;
    }
  }

  &:focus + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #1877c0;
  box-shadow: 0 5px 10px rgba(#000, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover {
    border-color: #2260ff;
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.checkbox-icon {
  transition: 0.375s ease;
  color: #edf064;
  svg {
    width: 3rem;
    height: 3rem;
  }
}

.checkbox-label {
  color: #edf064;
  transition: 0.375s ease;
  text-align: center;
}
// price cards %%%%%%%%%%%%%%%%%%%%%%
:root {
  --first-color: #08526d;
  --second-color: #1877c0;
}
section.price-card div.card-t {
  background-color: #fff;
  margin-right: 34px;
  padding: 0;
  box-shadow: 7px 7px 16px 0px #ddd, -7px -7px 16px 0px #ddd;
  margin-top: 50px;
}
section.price-card div.card-t:last-of-type {
  margin-right: 0;
}
section.price-card div.card-t h3 {
  color: var(--first-color);
  padding-top: 50px;
}
section.price-card div.card-t p:first-of-type {
  color: #757575;
  margin-bottom: 25px;
}
section.price-card div.card-t p:last-of-type {
  color: var(--first-color);
  background-color: #f7f7f7;
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
}
section.price-card div.card-t p span {
  font-size: 15px;
}
section.price-card div.card-t ul {
  margin-top: 30px;
}
section.price-card div.card-t ul li {
  color: #757575;
  margin-bottom: 20px;
}
section.price-card div.card-t button {
  background-color: var(--second-color);
  color: #fff;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px 45px;
  border: none;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
section.price-card div.card-t:not(hover) {
  transition: all 0.5s ease-in-out;
}
section.price-card div.card-t:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
section.price-card div.card-t:not(hover) p:last-of-type {
  transition: all 0.5s ease-in-out;
}
section.price-card div.card-t:hover p:last-of-type {
  background-color: var(--second-color);
  color: #fff;
  transition: all 0.5s ease-in-out;
}
section.price-card div.card-t button:hover {
  background-color: var(--first-color);
}

////////////////////////////
// @shayan3k
///////////////////////////

.main-section {
  min-height: 700px;

  .pure-steps {
    max-height: calc(100vh - 200px);
    height: calc(100vh - 200px);

    .pure-steps_list {
      height: calc(100% - 200px);
    }
  }
}
.segment {
  padding: $ruler * 2 0;
  text-align: center;
  background-color: rgba(243, 227, 227, 0.171);
  border-radius: 50px;

  & > h1 {
    color: rgb(255, 255, 255);
  }
  & > p {
    color: rgb(255, 255, 255);
  }
}

.phone_number_input {
  .form__group {
    width: 100%;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
  }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #1877c0;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-radius: 0 !important;
  }
  .form__field::-webkit-input-placeholder {
    color: transparent !important; /*Change the placeholder color*/
    opacity: 0; /*Change the opacity between 0 and 1*/
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;

    // padding-bottom: 6px;
    // font-weight: 700;
    // border-width: 3px;
    // border-image: linear-gradient(to right, #11998e, #38ef7d);
    // border-image-slice: 1;
  }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #1877c0;
  }
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  /* reset input */
  .form__field:required,
  .form__field:invalid {
    box-shadow: none;
  }
}
